<div class="h-scroller">
  <table class="table">
  <thead>
    <th class="hidden-sm hidden-xs">תאריך</th>
    <th>בית</th>
    <th></th>
    <th>חוץ</th>
    <th>תוצאה</th>
    <th>הימור</th>
    <% @other_users.each {|user| %>
      <th class="hidden other_user_bet"><%= user.name %></th>
    <% } %>
  </thead>
  <tbody>
  <% matches.each { |match| %>
    <%= render partial: 'single_match', locals: {match: match, bet_for_match: @current_user_bets_by_match[match.id]}  %>
  <% } %>
  </tbody>
  </table>
</div>
