<div class="h-scroller">
  <table class="table">
  <thead>
    <th class="hidden-sm hidden-xs">תאריך</th>
    <th>בית</th>
    <th></th>
    <th>חוץ</th>
    <th>תוצאה</th>
    <th>הימור</th>
    <% User.where("id <> #{current_user.id}").order(:id).each {|user| %>
      <th class="hidden other_user_bet"><%= user.name %></th>
    <% } %>
  </thead>
  <tbody>
  <% matches.each { |match| %>
    <%= render partial: 'single_match', locals: {match: match, previous: previous[match.id], bet_for_match: fixture_bet_for_user.bets.where("match_id = #{match.id}").first}  %>
  <% } %>
  </tbody>
  </table>
</div>
