<div class="fixture" align="right">
  <%= render partial: 'fixture', locals: {fixture: @fixture}  %>
</div>
<div class="score-table" align="right">
  <%= render partial: 'score_table', locals: {fixture: @fixture}  %>
</div>
