<!DOCTYPE html>
<html>
  <head>
    <title>Betting App - React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag rescue nil %>

    <%# Use existing Bootstrap CSS from the legacy app %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%# React app CSS (built by esbuild) %>
    <link rel="stylesheet" href="/react-assets/application.css">
  </head>

  <body style="padding-top: 0;">
    <%# React mounts here %>
    <div id="react-root" data-props="<%= @react_props.to_json %>"></div>

    <%# Load React bundle separately (not through Sprockets) %>
    <script src="/react-assets/application.js"></script>
  </body>
</html>
